 <nav class="top-navbar">

        <div class="logo">
            <img src="/img/logo.png" alt="img">
        </div>
        <div class="input-fields ">
            <div class="dropdown">
                <button class="dropbtn">Master Manage<i class="zmdi zmdi-caret-down"></i></button>

                <div class="dropdown-content">
                     <a href="#" onclick="openModal('/Category')">Category</a>
                     <a href="#" onclick="openModal('/Sub-category')">Sub-Category</a>
                    <a href="#"onclick="openModal('/Listing')">Add Item</a>
                    <a href="#"onclick="openModal('/Order')">Order Type Managment</a>
                   <a href="#"onclick="openModal('/Payment')">Payment Method</a>
                   <a href="#"onclick="openModal('/Employee')">Employee Managment</a>
                   <a href="#"onclick="openModal('/Customer')">Customer Managment</a>
                    <a href="#"onclick="openModal('/Charges')">Additional Charges</a>
                 <a href="#"onclick="openModal('/Tax')">Tax Managment</a>
                    <a href="#"onclick="openModal('/Discount')">Discount Managment</a>
                   <a href="#"onclick="openModal('/Unit')">Add Unit</a>
                   <a href="#"onclick="openModal('/Brand')">Brand</a>
                   <a href="#"onclick="openModal('/Vender')">Vender</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Reports <i class="zmdi zmdi-caret-down"></i></button>
                <div class="dropdown-content">
                 <a href="#"onclick="openModal('/Reports')">Report</a>

                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">All Settings <i class="zmdi zmdi-caret-down"></i></button>
                <div class="dropdown-content">
                     <a href="#" onclick="openModal('/Setting')">Settings</a>
                   <a href="#"onclick="openModal('/Bill')">Bill Format</a>
                      <a href="#"onclick="openModal('/Access')">User Access</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Help <i class="zmdi zmdi-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#"onclick="openModal('/Help')">Help</a>
                </div>
            </div>
        </div>
        <button class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </button>
    </nav>

    <div class="input-fieldss ">

        <div class="dropdown">
            <button class="dropbtn">Master manage<i class="zmdi zmdi-caret-down"></i></button>

            <div class="dropdown-content">
                   <a href="#" onclick="openModal('/Category')">Category</a>
                     <a href="#" onclick="openModal('/Sub-category')">Sub-Category</a>
                    <a href="#"onclick="openModal('/Listing')">Add Item</a>
                    <a href="#"onclick="openModal('/Order')">Order Type Managment</a>
                   <a href="#"onclick="openModal('/Payment')">Payment Method</a>
                   <a href="#"onclick="openModal('/Employee')">Employee Managment</a>
                   <a href="#"onclick="openModal('/Customer')">Customer Managment</a>
                    <a href="#"onclick="openModal('/Charges')">Additional Charges</a>
                 <a href="#"onclick="openModal('/Tax')">Tax Managment</a>
                    <a href="#"onclick="openModal('/Discount')">Discount Managment</a>
                   <a href="#"onclick="openModal('/Unit')">Add Unit</a>
                   <a href="#"onclick="openModal('/Brand')">Brand</a>
                   <a href="#"onclick="openModal('/Vender')">Vender</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Reports <i class="zmdi zmdi-caret-down"></i></button>
            <div class="dropdown-content">
                 <a href="#"onclick="openModal('/Reports')">Report</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">All Settings <i class="zmdi zmdi-caret-down"></i></button>
            <div class="dropdown-content">
                     <a href="#" onclick="openModal('/Setting')">Settings</a>
                   <a href="#"onclick="openModal('/Bill')">Bill Format</a>
                      <a href="#"onclick="openModal('/Access')">User Access</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Help <i class="zmdi zmdi-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="#"onclick="openModal('/Help')">Help</a>
            </div>
        </div>
    </div>