<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
              width: 75rem;
            margin: auto;
        }

.heading {
    background-color: rgb(19, 82, 255);
    color: white;
    text-align: center;
    padding: 10px;
    width: 78rem;
    margin-top: 1px;
    margin-left: -124px;
}
        h1 {
            margin: 0;
        }

      .contact-info {
    text-align: center;
    margin-top: 122px;
    margin-left: -150px;
}

       .contact-info p {
    margin: 30px 0;
    font-size: 20px;
}

       .border-box {
    border: 2px dashed rgb(19, 82, 255);
    padding: 12px;
    margin-top: 20px;
    width: 15rem;
    display: flex;
    justify-content: center;
    margin-left: 24rem;
}

        .website {
            color: rgb(19, 82, 255);
        }
          @media only screen and (max-width: 768px) {

body{
    
    overflow-x: hidden;
    overflow-y: hidden;

}
.heading {
    background-color: rgb(19, 82, 255);
    color: white;
    text-align: center;
    padding: 10px;
    width: 78rem;
    margin-top: 1px;
    margin-left: -213px;
}
    .contact-info {
    text-align: center;
    margin-top: 153px;
    margin-left: -21rem;
}
.border-box {
    border: 2px dashed rgb(19, 82, 255);
    padding: 20px;
    margin-top: 61px;
    width: 10rem;
        margin-left: 20rem;
}
.contact-info p {
    margin: 18px 0;
    font-size: 22px;
}
          }
    </style>
</head>

<body>
    <div class="container">
        <div class="heading">
            <h1>Contact Us</h1>
        </div>
        <div class="contact-info">
            <h1>MedResto Support Team</h1>
            <p>+91-8421262999</p>
            <p>+91-9579999850</p>
            <p>medrestoinfo@gmail.com</p>
        </div>
        <div class="border-box">
            <p class="website">www.medresto.com</p>
        </div>
    </div>
</body>

</html>
