<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub-Category Management</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 20px;
            padding: 20px;
            height: 35rem;
            padding-left: 0;
            padding-right: 0;
            position: relative;
        }

        .sidebar {
            width: 20%;
            float: left;
            height: 35rem;
            padding-right: 20px;
        }

        .sidebar h2 {
            background-color: rgb(19, 82, 255);
            color: white;
            border-radius: 3px;
            padding: 10px;
            width: 14.6rem;
            font-size: 18px;
            margin: 0;
        }

        .category-label {
            margin-top: 13rem;
            text-align: center;
        }

        .category-label span {
            border-bottom: 1px dotted #ccc;
            padding-bottom: 5px;
            display: block;
        }

        .status-checkbox {
            margin-top: 10px;
        }

        .container h5 {
            margin-top: -12px;
            margin-bottom: 7px;
        }

        .content {
            width: 75%;
            height: 35rem;
            float: right;
            border-left: 1px solid #ececec;
            padding-left: 20px;
        }

        .close-button {
            position: absolute;
            top: 5px;
            right: 8px;
            background: none;
            border: none;
            font-weight: 500;
            color: rgb(0, 0, 0);
        }

        .import {
            position: absolute;
            top: 40px;
            right: 5px;
            width: 8rem;
                        color: white;

            border: none;
            height: 30px;
            border-radius: 3px;
            background-color: rgb(19, 82, 255);
        }

        table {
            width: 74.5%;
            border-collapse: collapse;
            margin-top: 45px;
            position: absolute;
            height: 28rem;
        }

        td,
        th {
            border: 1px solid #e4dede;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #e4e1e1;
        }

        th {
          background-color: rgba(211, 211, 211, 0.822);
        }

        .btn0 {
            position: absolute;
            bottom: 2rem;
            width: 6rem;
            height: 2rem;
                        color: white;

            left: 18rem;
            background-color: rgb(19, 82, 255);
            border: none;
            border-radius: 3px;
            box-shadow: 3px 5px rgb(218, 214, 214);
            gap: 5px;
            /* Add gap between buttons */
        }

        .btn1 {
            position: absolute;
            bottom: 2rem;
            background-color: rgb(19, 82, 255);
            border: none;
            border-radius: 3px;
            width: 6rem;
            height: 2rem;
                        color: white;

            left: 32rem;
            gap: 5rem;
            box-shadow: 3px 5px rgb(218, 214, 214);
        }

        .btn2 {
            position: absolute;
            bottom: 2rem;
            width: 6rem;
            background-color: rgb(19, 82, 255);
            border: none;
                        color: white;

            border-radius: 3px;
            box-shadow: 3px 5px rgb(218, 214, 214);

            height: 2rem;
            left: 25rem;
            gap: 5px;
            /* Add gap between buttons */
        }
 @media only screen and (max-width: 768px) {

.container {
    margin-right: 0px;
    width: 759px;
    overflow-y: hidden;
  }

  .sidebar, .content {
    width: 100%;
    float: none;
    position: relative;
  }

.sidebar h2 {
    width: 45.5rem;
    height: 1.9rem;
    font-size: 18px;
    position: absolute;
    margin-bottom: 0rem;
}

.status-checkbox {
    margin-top: 37px;
    margin-left: -40rem;
    font-size: 1.5rem;
}
.sidebar{
        padding-right: 0px
}
    .container{
            margin-right: 0px;
    width: 759px;
        overflow-x: hidden;
    }

  .content {
    margin-top: 0;
    border-left: none;
    padding-left: 0;
  }

table {
    width: 97%;
    margin-top: -22rem;
}


.import {
    top: -27.1rem;
    right: 18rem;
    height: 2.5rem;
    left: 36rem;
    font-size: 21px;
    width: 10rem;
}
  .btn0 {
       position: absolute;
    display: block;
    margin: 12px auto;
    top: -28rem;
    font-size: 21px;
    left: 0rem;
    width: 10rem;
    height: 2.5rem;
  }
  .btn1{
      position: absolute;
    display: block;
    margin: 12px auto;
    top: -28rem;
    font-size: 21px;
    width: 10rem;
    height: 2.5rem;
    left: 12rem;
  }
 .btn2 {
      position: absolute;
    display: block;
    margin: 12px auto;
    font-size: 21px;
    top: -28rem;
    width: 10rem;
    height: 2.5rem;
    left: 24rem;
}
.category-label {
        margin-top: 1.1rem; /* Adjust margin-top */
        text-align: center;
        display: flex;
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Center align items horizontally */
    }
.Cat {
    margin-right: 245px;
    margin-top: 5rem;
    margin-bottom: -15px;
    width: 30rem;
    height: 3rem;
}
}
    </style>
</head>

<body>
  
    <div class="container">
        <h5>Sub-Category Management</h5>
        <div class="sidebar">
            <h2>Sub-Category Management</h2>
            <div class="category-label">
                <span>*Sub-Category</span>
                <div class="status-checkbox">
                    <input type="checkbox" id="status" name="status">
                    <label for="status">Status</label>
                </div>
            </div>
        </div>
        <div class="content">
            <button class="import">Import Excel</button>
            <table>
                <tr>
                    <th>Sr.no</th>
                    <th>Category Name</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Maria </td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>1 </td>
                    <td>Francisco </td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <button class="btn0">Save</button>
            <button class="btn1">Update</button>
            <button class="btn2">Delete</button>
        </div>
        <div style="clear:both;"></div>
    </div>
</body>

</html>